*.pyc
build/
chipmunk_src/**/*.o
dist/
docs/html/
docs/doctrees/
docs/src/_build/
.tox/
*.obj
.vscode/
.ipynb_checkpoints
pymunk.egg-info
pymunk/*.dll
pymunk/*.so
pymunk/*.dylib
pymunk/*.c
pymunk/*.o
pymunk/*.pyd
*.whl
.eggs/