#txts
include LICENSE.txt
include README.rst
include THANKS.txt
#docs
recursive-include docs *
#examples
include examples/*.py
include examples/*.png
include examples/*.spec
include examples/*.wav
include examples/*.ipynb
prune examples/.ipynb_checkpoints
#chipmunk src
recursive-include chipmunk_src *.c
recursive-include chipmunk_src *.h
recursive-include chipmunk_src *.txt
#tests
recursive-include tests *.py
#tools
recursive-include tools *.py
