#txts
include LICENSE.txt
include README.rst
include THANKS.txt
include CHANGELOG.rst
#docs
recursive-include docs/src *
recursive-include docs/html *
prune docs/src/_build
#examples
recursive-include additional_examples *.py
recursive-include additional_examples *.png
recursive-include additional_examples *.spec
recursive-include additional_examples *.wav
recursive-include additional_examples *.ipynb
prune additional_examples/.ipynb_checkpoints
prune additional_examples/build
prune additional_examples/dist
recursive-include pymunk/examples *.png
recursive-include pymunk/examples *.wav
#chipmunk src
recursive-include Chipmunk2D/src *
recursive-include Chipmunk2D/include/chipmunk *
include Chipmunk2D/*.txt
recursive-include pymunk/cffi * 
#tools
recursive-include tools *.py
#typing
include pymunk/py.typed
#general excludes
prune **/__pycache__
