#txts
include LICENSE.txt
include README.rst
include THANKS.txt
#docs
recursive-include docs *
#examples
recursive-include examples *.py
recursive-include examples *.png
#chipmunk compiled libs
#recursive-include pymunk *.dll
#recursive-include pymunk *.so
#recursive-include pymunk *.dylib
#chipmunk src
recursive-include chipmunk_src *.c
recursive-include chipmunk_src *.h
recursive-include chipmunk_src *.txt
#tests
recursive-include tests *.py
#tools
recursive-include tools *.py
