[build-system]
requires = ["setuptools", "wheel", "cffi >= 1.15.0"]
build-backend = "setuptools.build_meta"


[tool.isort]
multi_line_output = 3
include_trailing_comma = True
force_grid_wrap = 0
use_parentheses = True
ensure_newline_before_comments = True
line_length = 88


[tool.mypy]
disallow_untyped_defs = True
strict_equality = True
warn_unused_configs = True
disallow_any_generics = True
warn_redundant_casts = True
disallow_subclassing_any = True
disallow_untyped_calls = True
disallow_incomplete_defs = True
no_implicit_optional = True
no_implicit_reexport = True
check_untyped_defs = True
warn_unused_ignores = True

# Because many values are returned directly from CFFI/Chipmunk (and are therefore Any)
warn_return_any = False 

# Because decorators are mostly from CFFI used for callbacks (and therefor untyped)
disallow_untyped_decorators = False

exclude = [
        '^pymunk\examples\.*$',    # exclude examples from type checking
]


[mypy-pymunk.util]
# This is not typed
disallow_untyped_defs = False
check_untyped_defs = False
