[epydoc] # Epydoc section marker (required by ConfigParser)

name: pymunk API reference
url: http://pymunk.googlecode.com/

output: html
target: ../docs/api/
css: epydoc_pymunk.css

docformat:reStructuredText
#inheritance: listed
inheritance: included
private: no
imports: no
sourcecode: no
include-log: no

parse: yes
introspect: yes

modules: pymunk

# Exclude internal modules
exclude: pymunk._chipmunk
exclude: pymunk.libload

# Exclude binary library files
exclude: libchipmunk
exclude: libchipmunk32
exclude: libchipmunk64
