name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest] #, ubuntu-24.04-arm, windows-latest, macos-13, macos-14]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build sdist
        run: |
          pipx run build --sdist
          python3 -c "import pathlib,glob;pathlib.Path('GITHUB_ENV').write_text('SDIST_PATH' + glob.glob('dist/*.tar.gz')[0])"

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.23.1
        env:
          CIBW_BUILD:
            "cp39-* cp310-* cp311-* cp312-* cp313-* pp39-* pp310-* pp311-*"
            # "cp38-* cp39-* cp310-* cp311-* cp312-* cp313-*"
          CIBW_TEST_COMMAND: "python -m pymunk.tests"
          # CIBW_BUILD_VERBOSITY: 3
        with:
          package-dir: "$SDIST_PATH"

      - name: Upload wheel artifacts
        uses: actions/upload-artifact@v4
        if: ${{ github.ref == 'refs/heads/master'}}
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
          retention-days: 7

      - name: Upload sdist artifact
        uses: actions/upload-artifact@v4
        if:
          ${{ github.ref == 'refs/heads/master' && matrix.os ==
          'windows-latest'}}
        with:
          name: sdist-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./dist/*.tar.gz
          retention-days: 7

  build_wasm:
    name: Build wheels for wasm / emscripten
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: pypa/cibuildwheel@v2.23.1
        env:
          CIBW_PLATFORM: pyodide
          PYMUNK_BUILD_SLIM: 1
          CIBW_TEST_COMMAND: "python -m pymunk.tests"
      - uses: actions/upload-artifact@v4
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          path: ./wheelhouse/*.whl
          retention-days: 7
